/.vs/HF1-OBJProgramming-BankProject/v17/.futdcache.v2
/.vs/HF1-OBJProgramming-BankProject/v17/.suo
/.vs/ProjectEvaluation/hf1-objprogramming-bankproject.metadata.v6.1
/.vs/ProjectEvaluation/hf1-objprogramming-bankproject.projects.v6.1
*.suo
